doc/html/*
doc/doc/*
doc/*.png

# Vivado log files
*.str
*.jou
*.log
fpga/doc/html/*

# Expanded Xilinx IP files
ip/*
!ip/*.xci

# Misc Vivado files
.Xil/
src/hdl/
src/synth/
src/
src/fifo_generator_0.xdc

# Generated output of register map
output/ESS_openEVR_regMap_hdl/

# VIM swap files
**/*.swp

# GHDL compiled files
**/*.o
build/
